[color]
ui = auto
[merge]
confilctstyle = diff3
[core]
editor = vim -f
excludesfile = /Users/keunbae/.gitignore_global
[credetial]
helper = cache
[push]
default = simple
# git push creates a new branche.
autosetupremote = true
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[alias]
forget="! git fetch --prune && git branch -vv | awk '/: gone]/ {print $1}' | xargs git branch -D"
